<h1><%= @team.name %></h1>

<h3>Team Motto: <%= @team.motto %></h3>

<h2>Hero Name: <%= @team.members[0][:name] %></h2>
Hero Power: <%= @team.members[0][:power] %><br>
Hero Biography: <%= @team.members[0][:bio] %>

<h2>Hero Name: <%= @team.members[1][:name] %></h2>
Hero Power: <%= @team.members[1][:power] %><br>
Hero Biography: <%= @team.members[1][:bio] %>

<h2>Hero Name: <%= @team.members[2][:name] %></h2>
Hero Power: <%= @team.members[2][:power] %><br>
Hero Biography: <%= @team.members[2][:bio] %>
